.hero {
    text-align: center;
    padding-bottom: 5em;
    .copy {
      // border: 1px solid red;
      margin-bottom: 2.5em;
    }
    &__image {
      height: 300px;
      margin: 0 calc(-1* var(--wrapperSpace));
      background: url(../../static/images/image-mockups.png) center bottom no-repeat, url(../../static/images/bg-intro-mobile.svg) center no-repeat;
      background-size: 345px, cover;
      margin-bottom: 1.2em;
    }
    @media screen and (min-width: 768px) {
      text-align: left;
        &__content{
          border: 1px solid red;
          display: grid;
          //TODO aprender de grid
          grid-template-columns: 480px 1fr;
          grid-template-areas: "description image";
          min-height: 650px;
          align-items: center;
        }
        &__description {
          border: 1px solid green;
        }
        &__image {
          // IMPORTANTE inherit hereda el atributo del padre
          grid-area: image;
          min-height: inherit;
          background: url(../../static/images/image-mockups.png) center bottom no-repeat, url(../../static/images/bg-intro-desktop.svg) center no-repeat;
          background-size: 345px, cover;
        }
    }
  }